*dwsync.xml
*.bak
*.LCK
*\dwsync.xml
sitemaps
blocks
block-supports
certificates
css
customize
fonts
ID3
images
IXR
js
PHPMailer
pomo
random_compat
Requests
rest-api
SimplePie
assets
block-patterns
sodium_compat
Text
theme-compat
widgets
wp-includes
themes
/wp-content/plugins/dinomitedasysxxxxxxxxxxxxxxx
/wp-content/plugins/dinomitedasysxxxxzzzzzzz
freewheeling-easy-map
updraftplus
wp-admin
