# https://git-scm.com/docs/gitignore
# https://help.github.com/articles/ignoring-files
# Example.gitignore files : https://github.com/github/gitignore
_notes/
/bower_components/
/node_modules/
*.LCK
wp-includes
updraft
themes
dinomitedasysxxxxxxxxxxxxxxx
dinomitedasysxxxxzzzzzzz
freewheeling-easy-map
updraftplus
wp-admin
/wp-trackback.php
/wp-config-sample.php
/wp-cron.php
/wp-links-opml.php
/wp-load.php
/wp-login.php
/wp-mail.php
/wp-settings.php
/wp-signup.php
/wp_fix.php
/wp_fix.php.LCK
/wp-activate.php
/wp-blog-header.php
/wp-comments-post.php
/wp-config.php
/wp-admin
