
RewriteOptions inherit

# disable directory listing for security reasons
Options -Indexes

RewriteRule ^.*maps.index.htm$ /map/ [R=301,L]

RewriteRule ^.*\/fun\/.*.htm$ /fun.htm [R=301,L]

RewriteRule ^index.htm.*$ / [R=301,L]

RewriteRule ^.*maps.htm.*$ /map [R=301,L]
RewriteRule ^.*pictures.htm$ /thumbnails [R=301,L]
RewriteRule ^.*pictures_[1-5].htm$ /thumbnails [R=301,L]
RewriteRule ^.*steg.htm$ /thumbnails/?type=stegosaurus [R=301,L]
RewriteRule ^.*steg2.htm$ /thumbnail/?type=stegosaurus [R=301,L]
RewriteRule ^.*toro.htm$ /thumbnails/?type=triceratops [R=301,L]
RewriteRule ^.*toro2.htm$ /thumbnails/?type=triceratops [R=301,L]
RewriteRule ^.*rex.htm$ /thumbnails/?type=t-rex [R=301,L]


# BEGIN WordPress
# The directives (lines) between "BEGIN WordPress" and "END WordPress" are
# dynamically generated, and should only be modified via WordPress filters.
# Any changes to the directives between these markers will be overwritten.
<IfModule mod_rewrite.c>
RewriteEngine On
RewriteRule .* - [E=HTTP_AUTHORIZATION:%{HTTP:Authorization}]
RewriteBase /
RewriteRule ^index\.php$ - [L]
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule . /index.php [L]
</IfModule>

# END WordPress

php_value post_max_size 64M

# BEGIN LiteSpeed
# The directives (lines) between "BEGIN LiteSpeed" and "END LiteSpeed" are
# dynamically generated, and should only be modified via WordPress filters.
# Any changes to the directives between these markers will be overwritten.
<IfModule Litespeed>
SetEnv noabort 1
</IfModule>
# END LiteSpeed