@charset "utf-8";
/* CSS Document */
.table_header {
    width: 100%;
    border: none;
    padding: 0;
    backface-color: #F8EFFB;
}
.cell_header {
    padding: 0;
}
.footer {
    font-size: normal;
}
body {
    font-size: larger;
}
option {
    font-size: larger;
}
h3 {
    margin-block-start: 4px;
    margin-block-end: 0px;
}
.rrwChangeArea {
    background-color: #F8EFFB;
    position: relative;
    top:0px;
}

.rrwPhotoGrid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(120pt, 1fr));
    grid-template-rows: masonry;
    grid-column-gap: 2px;
    grid-row-gap: 1px;
    padding: 0;
}
.rrwPhotoGrid li {
    margin: 0;
    white-space: nowrap;
    list-style-type: none;
    padding: 0;
    text-overflow: clip;
    background-color: white;
    grid-column-gap: 1px;
}
.rrwKeywordGrid {
    display: grid;
    grid-auto-columns: 90px 90px 90px 90px 90px 90px 90px 90px;
    grid-template-rows: masonry;
    grid-column-gap: 1px;
    grid-row-gap: 1px;
    padding: 0;
}
.rrwKeywordGridItem {
    margin: 0;
    width: 40px;
    max-width: 40px;
    white-space: nowrap;
    list-style-type: none;
    padding: 0;
    max-width: 90px;
    text-overflow: clip;
    text-overflow: hidden;
    background-color: white;
}
.rrwKeywordFlex {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    ;
    justify-content: flex-start;
}
.rrwKeywordFlexItem {
    max-width: 90px;
    min-width: 90px;
    text-overflow: clip;
    text-overflow: hidden;
    white-space: nowrap;
    background-color: white;
}
.rrwOnePhoto table{
     border-width:1px;
}
.rrwOnePhoto td {
    border-width:1px;
    padding: 3px;
}
.box {
    display: flex;
    flex-wrap: wrap;
}
.entry-header {
    display: none;
}
.external {
    background-position: right center;
    background-repeat: no-repeat;
    background-image: linear-gradient(transparent, transparent), url("data:image/svg+xml,%3C%3Fxml%20version%3D%221.0%22%20encoding%3D%22UTF-8%22%3F%3E%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%2210%22%20height%3D%2210%22%3E%3Cg%20transform%3D%22translate%28-826.429%20-698.791%29%22%3E%3Crect%20width%3D%225.982%22%20height%3D%225.982%22%20x%3D%22826.929%22%20y%3D%22702.309%22%20fill%3D%22%23fff%22%20stroke%3D%22%2306c%22%2F%3E%3Cg%3E%3Cpath%20d%3D%22M831.194%20698.791h5.234v5.391l-1.571%201.545-1.31-1.31-2.725%202.725-2.689-2.689%202.808-2.808-1.311-1.311z%22%20fill%3D%22%2306f%22%2F%3E%3Cpath%20d%3D%22M835.424%20699.795l.022%204.885-1.817-1.817-2.881%202.881-1.228-1.228%202.881-2.881-1.851-1.851z%22%20fill%3D%22%23fff%22%2F%3E%3C%2Fg%3E%3C%2Fg%3E%3C%2Fsvg%3E");
    padding-right: 13px;
}